extends layout/main

block append vars
  - var title = "Main"

block body
  style.
    ul { list-style: none; margin: 0; padding: 0; font-size: 0; }
    ul li { display: inline-block; vertical-align: top; padding: 15px; border: 1px solid black; margin-right: 10px; }
  h1 Example
  h2 Image sprite (path image/sprite)
  ul
    li
      span.icon.icon-calendar
    li
      span.icon.icon-hourglass
    li
      span.icon.icon-smartphone-call
  h2 SVG sprite css background (path image/sprite)
  ul
    li
      span.svg-icon-calendar.svg-icon-calendar-dims
    li
      span.svg-icon-hourglass.svg-icon-hourglass-dims
    li
      span.svg-icon-smartphone-call.svg-icon-smartphone-call-dims
  h2 SVG sprite svg -> use (path image/sprite)
  ul
    li
      svg(width="32", height="32")
        use(xlink:href="image/svg/sprite-svg-symbol.svg#calendar")
    li
      svg(width="32", height="32")
        use(xlink:href="image/svg/sprite-svg-symbol.svg#hourglass")
    li
      svg(width="32", height="32")
        use(xlink:href="image/svg/sprite-svg-symbol.svg#smartphone-call")
