block vars
  - var title = "Document"
  - var htmlClass = []
  - var bodyClass = []

doctype
html(lang="ru-RU", class=htmlClass)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="css/main.css")
    title= title
  body(class=bodyClass)
    block body